
/*--------------------------------------------------------------*/
body{
  cursor: url('../images/cursor/main.png') 4 4, auto;
}
a:hover{
    cursor: url('../images/cursor/body.png') 4 4, auto;
}
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
  font-family: RobotoSlab, sans-serif;
}
.burger{
  /* display: none; */
}
.header {
  height: 100%;
  width: 100%;
  background: rgb(31, 28, 28);
}

/*============================================================================*/
.header__top {
}

.header__top-line2 {
  max-height: 700px;
  max-width: 30px;
  width: auto;
}

.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
  gap: 30px;
}

.logo {}

.logo img {
  height: 130px;
  width: auto;
  transition: all .3s;
}

.logo:hover img {
  transform: scale(1.1);
}

.header__top-number {
  display: flex;
  justify-content: space-between;
}

.header__top-numberBut img {
  height: 23px;
  width: 23px;
}

.header__top-numberBut {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: rgb(53, 51, 51);
  border-radius: 50%;
  transition: all .3s;
}
.main__list > .button {
  grid-column: 2 / 3;
  justify-self: center;
  align-self: center;
}
.header__main-button-link.map{
  align-items:center;
  margin-top: 30px;
}
.header__top-numberButton span {
  white-space: nowrap;
  transition: all .3s;
}

.header__top-numberButton span:hover {
  color: rgb(233, 167, 24);
}

.header__top-numberBut:hover {
  transform: scale(1.1);
}

.header__top-numberButton {
  font-family: RobotoSlab, sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 12px;
  color: beige;
}

.header__top-numbertext {}

.header__top-geo {}

.header__top-geoButton {
  font-family: RobotoSlab, sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 12px;
  color: beige;
  transition: all .3s;
}

.header__top-geoButton img {
  height: 26px;
  width: 26px;
}

.header__top-geoButton span {
  transition: all .3s;
}

.header__top-geoButton span:hover {
  color: rgb(233, 167, 24);
}

.header__top-geoimg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: rgb(53, 51, 51);
  border-radius: 50%;
  transition: all .3s;
}

.header__top-geoimg:hover {
  transform: scale(1.1);
}

.header__top-geotext {}

.header__top-btns {
  font-family: RobotoSlab, sans-serif;
  font-weight: 400;
  font-size: 80%;
  display: flex;
  gap: 50px;
  color: beige;
  transition: all .3s;
}

.header__top-buttonVK {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #393c43;
  border-radius: 40px;
  width: 204px;
  height: 60px;
  transition: all .3s;
}

.header__top-buttonBron {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  width: 204px;
  height: 60px;
  background: #fff;
  color: black;
  white-space: nowrap;
  transition: all .3s;

}

.header__top-buttonVK:hover {
  background: #fff;
  color: black;
  white-space: nowrap;
  transform: scale(1.1);
}

.header__top-buttonBron:hover {
  border: 1px solid #393c43;
  border-radius: 40px;
  width: 204px;
  height: 60px;
  transform: scale(1.1);
  background: rgb(31, 28, 28);
  color: #fff;
}

/*-------------------------------------------------------------------*/
.header__main-update{
  text-decoration: underline;
  color:#9c7b16
}
.header__main {
  display:flex;
  align-items:flex-start;
}

.header__main-subscribe { 
  flex: 1 1 80%;
  max-width: 1100px;
  margin-top: 100px;
  font-family: RobotoSlab, sans-serif;
  color: #fff;
  padding:0px;
}

.header__main-title {
  font-weight: 400;
  height: auto;
  font-size: clamp(15px, 2vw, 25px);
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  line-height: 200%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 16px 0;
  padding: 0;
}

.header__main-subtitle {
  font-weight: 700;
  font-size: clamp(30px, 2vw, 75px);
  line-height: 125%;
  letter-spacing: 0.03em;
}

.header__main-list ul {
  list-style: none;
  padding: 0;
  margin: 0; 
  display: flex;
  gap: 24px; 
  align-items: center;
  justify-content: flex-start;
  margin: 50px 0 50px 0;
}

.header__main-list .header__main-list-item::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-image: url('../images/ready.svg');
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  line-height: 40px;
}
.header__main-list-item:{

}

.header__main-button {
  display:flex;
  font-weight: 700;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 60px;
  width: 277px;
  height: 70px;
  background: linear-gradient(141deg, #6d261b 0%, #f69020 47.92%, #9c7b16 100%);
  color:black;
  transition: all .3s;
}
.header__main-button:hover{
  transform: scale(1.05);
}

.header__main-photozone {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.kirill-photo{
  width: 500px;
  z-index:10;
  justify-self: center;
  transition: justify-self 0.3s ease;
}
.chushpan-photo{
  z-index:0;
  height: 600px;
  opacity:0.1;
}
.custom-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; 
  padding: 6px;
}
.photozone{
  display: grid;           
  align-items: center;     
  gap: 12px;      
  min-width: 430px;         
}
.photozone img{
    max-height: 1100px;
  grid-area: 1 / 1;
  width: 100%;
  height: auto;               
}
.music-added img{

  height: 25px;
  width: 25px;
}
.music-added{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(53, 51, 51);
  border-radius:40px;
  position:fixed;
  right: 40px;        
  bottom: 40px;       
  z-index: 1000;      
  animation: move 1s alternate infinite; 
}


@keyframes move{
  0%{
  }
  100%{
    transform: scale(1.2);
  }
}


/*-------------------------------------------------------------*/
.main .container {
  padding-top: 90px;
  min-height:100vh;
}
.main {
  background-color: #242527;
  display: flex;
  justify-content: space-between;
}
.buttonlist{
  padding-top: 90px;
  display: flex;          
  flex-direction: row;    
  align-items: flex-start; 
  gap: 20px;              
}
.main__title {
font-weight: 700;
font-size: clamp(23px, 5vw, 75px);
line-height: 109%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #fff;
}
.main__subtitle {
  line-height: 109%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  font-size: clamp(15px, 2vw, 50px);
  margin-top: 15px;
}
.no-wrap{
white-space: nowrap;
}
.buttonrol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px; 
}
.buttonlist{
  justify-content: center;
  align-items: center;
}
.button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  height: fit-content; 
}
.main__list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.main__list-item{
  min-height: 240px;
  min-width: 260px;
  color: white;
  font-size: 30px;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  text-align: center;
  background-color: grey;
}
.main__list-item:nth-child(2), .main__list-item:nth-child(4), .main__list-item:nth-child(6){
  background-color: rgb(70, 64, 64);
}
.main__list-itemtext{
  min-height: 80px;
  justify-content: center;
}
.main__list img{
  height: 90px;
  width: 90px;
}
.main__roulette{
  height: 250px;
  width: 250px;
  animation: rotate 4s linear infinite;
}
.photozone img{
  width: auto;
  height: auto;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);  
  }
  50% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(360deg); 
  }
}
/*--------------------------------------- MEDIA -----------------------------------------*/
@media (max-width:1400px){
  .photozone{
    transform: translateX(-20%) scale(0.9) translateY(50px);
  }
}
@media (max-width:1250px){
  .photozone{
    transform: translateX(-30%) scale(0.9) translateY(50px);
  }
}
@media (max-width:1100px){
  .main__title{

  }
  .buttonlist{
    flex-direction: column;
  }
  .photozone{
    display: none;
  }
  .header{
    height: 100vh;
  }
  .container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
  }

  .overlay--show {
    visibility: visible;
    opacity: 1;
  }
  .burger{
    z-index: 150;
    display: block;
    top:45px;
    right:35px;
    position:fixed;
    border-radius: 1px solid white;
  }
  .burger span{
    display:block;
    height: 4px;
    width: 30px;
    background: white;
    border-radius: 3px; 
    margin: 4px 0;
  }
  .burger::before,
  .burger::after{
    content:"";
    display:block;
    height: 4px;
    width: 30px;
    background: white;
    border-radius: 3px;
  }
  .header__top{
    z-index:100;
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    background-color:rgb(53, 24, 24);
    transform: translateX(100%);
  }
  .header__top--open{
    transform: translateX(0%);
  }
  .header__top-inner{
    flex-direction: column;
    margin: 0 auto;
  }
  .number, .geo{
    min-height: 60px;
    min-width: 210px;
  }
  .header__top-btns{
    flex-direction: column;
  }
  .header__top{
    min-width: 320px;
  }
}
@media (max-width:820px){
  .header__main-list ul{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .main__list{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .main__list > .button {
  grid-column: 1 / 3;
}
  .buttonlist{
    padding-top: 20px;
  }
}
@media (max-width: 550px) {
  .main__list {
    display:flex;
    flex-direction: column;
    grid-template-columns: 1fr;
  }
}